{% extends 'movies/base.html' %}

{% block css %}

  table {
      text-align: center;
      vertical-align: middle;
  }

{% endblock %}

{% block body %}
    <div class="cotainer" style="margin: 20px;">
        <h4 style="text-align: center;">Top Movies Chart</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Movie Tittle</th>
              <th>Year</th>
              <th>Ratings</th>
              <th>Add to Wishlist</th>
              <th>Your ratings</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            {% for value in context.movies_data %}
              <td><a href="{% url 'movie' value.id  %}">{{ value.tittle }}</a></td>
              <td>{{ value.year }}</td>
              <td>{{ value.rating }}</td>
              <td align="center"><i class="fa fa-heart" aria-hidden="true"></i></td>
              <td align="center"><i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp <i class="fa fa-thumbs-down" aria-hidden="true"></i></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}